<mat-carousel timings="250ms ease-in" [autoplay]="true" [interval]="1500" color="accent" maxWidth="auto"
  [proportion]="40" [slides]="5" [loop]="true" [hideArrows]="false" [hideIndicators]="false" [useKeyboard]="true"
  [useMouseWheel]="false" orientation="ltr">
  <mat-carousel-slide #matCarouselSlide *ngFor="let slide of slides; let i = index" [image]="slide.image"
    overlayColor="#00000040" [hideOverlay]="false"></mat-carousel-slide>
</mat-carousel>

<!-- SECTION -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">

      <!-- section title -->
      <div class="col-md-12">
        <div class="section-title">
          <h1 class="title"><strong>Our Products</strong></h1>
        </div>
      </div>
      <!-- /section title -->
<div class="loader" *ngIf="show"></div>
      <!-- Products tab & slick -->
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4 col-sm-6"
            *ngFor="let p of products | paginate : { itemsPerPage : 12, currentPage: page, totalItems : totalLength }">
            <div class="product">

              <img [src]="p.image" alt="{{p.name}}" class="card-img-top"
                (click)="selectProduct(p.id)" style="cursor:pointer;">

              <div class="card-header">
                <div class="card-title">
                  <p style="font-size: large;">{{p.name | titlecase}}</p>
                </div>
              </div>
              <div class="card-body">
                <h6 style="font-size: small;">{{p.description.substr(0, 70)}} ....</h6>
                <p class="lead" style="text-align: center;">{{p.price}} DT</p>
                       <div class="card-footer">
                <div class="row d-flex justify-content-center border-primary my-3">
                  <div class="add-to-cart">
                    <button class="add-to-cart-btn" [class.disabled]="p.quantity < 1"
                      [class.btn-outline-danger]="p.quantity < 1" (click)="AddProduct(p.id)"
                      [disabled]="p.quantity < 1">
                      {{ p.quantity < 1 ? "NO STOCK" : "wish" }}<i class="fa fa-shopping-cart"></i></button>
                  </div>
                </div>
              </div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </div>
  </div>
  <pagination-controls class="pagination" (pageChange)="page = $event"></pagination-controls>
</div>
<!-- /container -->

<!-- /SECTION -->




<!-- NEWSLETTER -->
<div id="newsletter" class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-12">
        <div class="newsletter">
          <ul class="newsletter-follow">
            <li>
              <a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-instagram"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-pinterest"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /NEWSLETTER -->